<a href="https://colab.research.google.com/github/krishna138/tensorflow/blob/master/tensorflow_sheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import tensorflow as tf
import numpy
tf.enable_eager_execution()

In [0]:
x=tf.data.Dataset.range(5,15)
y=tf.data.Dataset.range(-1,-50,-1)
zipped=tf.data.Dataset.zip((x,y))
b=zipped.batch(7)
for batch in b.take(4):
  print([i.numpy() for i in batch])

[array([ 5,  6,  7,  8,  9, 10, 11]), array([-1, -2, -3, -4, -5, -6, -7])]
[array([12, 13, 14]), array([ -8,  -9, -10])]

In [0]:
x=tf.data.Dataset.range(1,10)
x_=x.repeat(4).batch(20)
n=next(iter(x_))
print(n.numpy())
#print(n.len())

[1 2 3 4 5 6 7 8 9 1 2 3 4 5 6 7 8 9 1 2]

In [0]:
def tensor_to_array(tensor1):
    return tensor1.numpy()
x = tf.constant([1,2,3,4])
tensor_to_array(x)

array([1, 2, 3, 4], dtype=int32)

In [0]:
import numpy as np

In [0]:
x=np.array(10)

In [4]:
x.shape

()

In [0]:
import pandas as pd

In [0]:
dt=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tra')

In [0]:
dt.columns=[i for i in range(65)]

In [23]:
dt.head()

   0   1   2   3   4   5   6   7   8   ...  56  57  58  59  60  61  62  63  64
0   0   0  10  16   6   0   0   0   0  ...   0   0  10  16  15   3   0   0   0
1   0   0   8  15  16  13   0   0   0  ...   0   0   9  14   0   0   0   0   7
2   0   0   0   3  11  16   0   0   0  ...   0   0   0   1  15   2   0   0   4
3   0   0   5  14   4   0   0   0   0  ...   0   0   4  12  14   7   0   0   6
4   0   0  11  16  10   1   0   0   0  ...   0   0  10  16  16  16  16   6   2

[5 rows x 65 columns]

In [0]:
import tensorflow as tf

In [0]:
data='https://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tra'

In [28]:
data

'https://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tra'

In [29]:
data = tf.keras.utils.get_file("data.csv", data)

Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/optdigits/optdigits.tra
565248/563639 [==============================] - 0s 0us/step

In [30]:
data

'/root/.keras/datasets/data.csv'

In [33]:
!head{data}

/bin/bash: head/root/.keras/datasets/data.csv: No such file or directory